.weather-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: lightblue;
}

.weather-app h1 {
  margin-bottom: 20px;
}

.weather-app input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.weather-app button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.weather-app button:hover {
  background-color: #0056b3;
}

.loading {
  color: #555;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.weather-cards {
  margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.weather-card{
  background: white;
    width: 30%;
    border-radius: 10px;
}
